{% extends 'base.html' %}

<style>

.sub-header{
	display : none;
}

</style>

{% block content %}

{% load staticfiles %}

<link rel="stylesheet" href="{% static 'css/home.css' %}">

    <!-- Heading Row -->
    <div class="row">
        <div class="col-md-8">
            <img class="img-responsive img-rounded" src="http://eca7be04b147deacfa4c-82cf6157a8169c9e50dc1c35c1fca86b.r11.cf1.rackcdn.com/feat.png" alt="">
        </div>
        <!-- /.col-md-8 -->
        <div class="col-md-4">
            <img class="img-responsive img-rounded" src="http://eca7be04b147deacfa4c-82cf6157a8169c9e50dc1c35c1fca86b.r11.cf1.rackcdn.com/app-down.png" alt="">
        </div>
        <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

    <hr>

    <!-- Content Row -->
    <div class="grid-cont">
        <div class="grid-item col-lg-4">
            <div class="grid-icon">
                <a href="/deals/"><span class="bg-cirlce"><img src="http://eca7be04b147deacfa4c-82cf6157a8169c9e50dc1c35c1fca86b.r11.cf1.rackcdn.com/glyph/thumbsup.png"></span></a>
            </div>
            <div class="grid-text">
                <div class="grid-title">
                    <a href="/deals/">Deals &amp; Offers</a></br>
                    <span class="grid-subtitle">Top Deals &amp; Offers across 100+ Stores </span>
                </div>
            </div>
        </div>
        <div class="grid-item col-lg-4">
            <div class="grid-icon">
                <a href="/mobiles/"><span class="bg-cirlce"><img src="http://eca7be04b147deacfa4c-82cf6157a8169c9e50dc1c35c1fca86b.r11.cf1.rackcdn.com/glyph/iphone.png"></span></a>
            </div>
            <div class="grid-text">
                <div class="grid-title">
                    <a href="/mobiles/">Mobile, Tablets &amp; Accessories</a></br>
                    <span class="grid-subtitle">Mobiles, Tablets, Memory Cards, Cases &amp; Covers, Headphones </span>
                </div>
            </div>
        </div>
        <div class="grid-item col-lg-4">
            <div class="grid-icon">
                <a href="/computers/"><span class="bg-cirlce"><img src="http://eca7be04b147deacfa4c-82cf6157a8169c9e50dc1c35c1fca86b.r11.cf1.rackcdn.com/glyph/laptop.png"></span></a>
            </div>

            <div class="grid-text">
                <div class="grid-title">
                    <a href="/computers/">Laptops &amp; Peripherals</a></br>
                    <span class="grid-subtitle">Laptops, Pen Drives, External Hard Disks, Wi-Fi Routers, Speakers </span>
                </div>
            </div>
        </div>
        <div class="grid-item col-lg-4">
            <div class="grid-icon">
                <a href="/mens/"><span class="bg-cirlce"><img src="http://eca7be04b147deacfa4c-82cf6157a8169c9e50dc1c35c1fca86b.r11.cf1.rackcdn.com/glyph/tshirt.png"></span></a>
            </div>

            <div class="grid-text">
                <div class="grid-title">
                    <a href="/men/">Men Fashion</a></br>
                    <span class="grid-subtitle">Clothing, Shoes,Watches, Bags, Accessories, Fragrances </span>
                </div>
            </div>


        </div>
        <div class="grid-item col-lg-4">
            <div class="grid-icon">
                <a href="/women/">
                    <span class="bg-cirlce"><img src="http://eca7be04b147deacfa4c-82cf6157a8169c9e50dc1c35c1fca86b.r11.cf1.rackcdn.com/glyph/heels.png"></span></a>
            </div>

            <div class="grid-text">
                <div class="grid-title">
                    <a href="/women/">Women Fashion</a></br>
                    <span class="grid-subtitle">Clothing, Shoes, Jewellery, Watches, Bags, Fragrances </span>
                </div>
            </div>

        </div>
        <div class="grid-item col-lg-4">
            <div class="grid-icon">
                <a href="/homedecor/">
                    <span class="bg-cirlce"><img src="http://eca7be04b147deacfa4c-82cf6157a8169c9e50dc1c35c1fca86b.r11.cf1.rackcdn.com/glyph/lamp.png"></span></a>
            </div>

            <div class="grid-text">
                <div class="grid-title">
                    <a href="/homedecor/">Home Décor &amp; Kitchen</a></br>
                    <span class="grid-subtitle">Home Décor, Kitchen &amp; Dining, Home Furniture, Bed &amp; Bath, Lamp &amp; Lighting </span>
                </div>
            </div>

        </div>
        <div class="grid-item col-lg-4">
            <div class="grid-icon">
                <a href="/books/"><span class="bg-cirlce"><img src="http://eca7be04b147deacfa4c-82cf6157a8169c9e50dc1c35c1fca86b.r11.cf1.rackcdn.com/glyph/open-book.png"></span></a>
            </div>
            <div class="grid-text">
                <div class="grid-title">
                    <a href="/books/">Books &amp; Media</a></br>
                    <span class="grid-subtitle">Best Sellers, New Releases, Upcoming, Indian Authors, Foreign Authors </span>
                </div>
            </div>
        </div>
        <div class="grid-item col-lg-4">
            <div class="grid-icon">
                <a href="/care/"><span class="bg-cirlce"><img src="http://eca7be04b147deacfa4c-82cf6157a8169c9e50dc1c35c1fca86b.r11.cf1.rackcdn.com/glyph/hair-dryer.png"></span></a>
            </div>
            <div class="grid-text">
                <div class="grid-title">
                    <a href="/care/">Personal &amp; Health Devices</a></br>
                    <span class="grid-subtitle">Trimmers, Shavers, Hair Dryers, BP Monitors, Glucometers </span>
                </div>
            </div>
        </div>
        <div class="grid-item col-lg-4">
            <div class="grid-icon">
                <a href="/appliances/">
                    <span class="bg-cirlce"><img src="http://eca7be04b147deacfa4c-82cf6157a8169c9e50dc1c35c1fca86b.r11.cf1.rackcdn.com/glyph/iron.png"></span></a>
            </div>
            <div class="grid-text">
                <div class="grid-title">
                    <a href="/appliances/">Home &amp; Kitchen Appliances</a></br>
                    <span class="grid-subtitle">Toasters, Mixers, Irons, Refrigerator, Microwave </span>
                </div>
            </div>
        </div>
        <div class="grid-item col-lg-4">
            <div class="grid-icon">
                <a href="/electronics/">
                    <span class="bg-cirlce"><img src="http://eca7be04b147deacfa4c-82cf6157a8169c9e50dc1c35c1fca86b.r11.cf1.rackcdn.com/glyph/tv.png"></span></a>
            </div>
            <div class="grid-text">
                <div class="grid-title">
                    <a href="/electronics/">TV &amp; Entertainment Devices</a></br>
                    <span class="grid-subtitle">LED / LCD TVs, iPods, Home Theaters, DVD Players </span>
                </div>
            </div>
        </div>
        <div class="grid-item col-lg-4">
            <div class="grid-icon">
                <a href="/cameras/"><span class="bg-cirlce"><img src="http://eca7be04b147deacfa4c-82cf6157a8169c9e50dc1c35c1fca86b.r11.cf1.rackcdn.com/glyph/camera.png"></span></a>
            </div>
            <div class="grid-text">
                <div class="grid-title">
                    <a href="/cameras/">Cameras, DSLRs &amp; Accessories</a></br>
                    <span class="grid-subtitle">Digital Cameras, DSLRs, Lenses, Filters, Tripods </span>
                </div>
            </div>
        </div>
        <div class="grid-item col-lg-4">
            <div class="grid-icon">
                <a href="http://coupons.mysmartprice.com/"><span class="bg-cirlce"><img src="http://eca7be04b147deacfa4c-82cf6157a8169c9e50dc1c35c1fca86b.r11.cf1.rackcdn.com/glyph/coupon.png"></span></a>
            </div>
            <div class="grid-text">
                <div class="grid-title">
                    <a href="http://coupons.mysmartprice.com/">Coupons &amp; Discounts</a></br>
                    <span class="grid-subtitle">Coupons from 100+ Online Stores </span>
                </div>
            </div>
        </div>
        <div class="grid-item col-lg-4">
            <div class="grid-icon">
                <a href="/kids/"><span class="bg-cirlce"><img src="http://eca7be04b147deacfa4c-82cf6157a8169c9e50dc1c35c1fca86b.r11.cf1.rackcdn.com/glyph/stroller.png"></span></a>
            </div>
            <div class="grid-text">
                <div class="grid-title">
                    <a href="/kids/">Baby &amp; Kids</a></br>
                    <span class="grid-subtitle">Toys, Clothing, Shoes, Accessories, Bags &amp; Furniture </span>
                </div>
            </div>
        </div>
        <div class="grid-item col-lg-4">
            <div class="grid-icon">
                <span class="bg-cirlce"><img src="http://eca7be04b147deacfa4c-82cf6157a8169c9e50dc1c35c1fca86b.r11.cf1.rackcdn.com/glyph/perfume.png"></span>
            </div>
            <div class="grid-text">
                <div class="grid-title">
                    Beauty &amp; Health <span class="comingsoon">Coming Soon</span><br>
                            <span class="grid-subtitle">Cosmetics &amp; Makeup, Skin Care,
                                Hair Care, Perfumes &amp; Deos, Nutrition &amp; Food </span>
                </div>
            </div>
        </div>
        <div class="grid-item col-lg-4">
            <div class="grid-icon">
                <span class="bg-cirlce"><img src="http://eca7be04b147deacfa4c-82cf6157a8169c9e50dc1c35c1fca86b.r11.cf1.rackcdn.com/glyph/table-tennis.png"></span>
            </div>
            <div class="grid-text">
                <div class="grid-title">
                    Sports &amp; Fitness <span class="comingsoon">Coming Soon</span><br>
                            <span class="grid-subtitle">Fitness Equipment, Cricket,
                                Badminton, Table Tennis, Cycling </span>
                </div>
            </div>
        </div>
        <br clear="all">
    </div>
    <!-- End of Content Row -->

</div>

{% endblock content %}