{% extends 'base.html' %}

{% block content %}

{% load staticfiles %}

<link rel="stylesheet" href="{% static 'css/section.css' %}">

        <script>
            kudisavers.controller('section-mobile', function($scope){

                $scope.popular_price_list_groups = {'Popular Price Lists': [
                                                    {'name': '8GB Memory Card ', 'img': 'http://c271790.r90.cf1.rackcdn.com/33456-thumb.jpg'},
                                                    {'name': '16GB Memory Card', 'img': 'http://c271790.r90.cf1.rackcdn.com/33459-thumb.jpg'},
                                                    {'name': 'Sandisk Memory Card', 'img': 'http://homeimg2.mspcdn.net/sandisk_30.png'},
                                                    {'name': 'Transcend Memory Card', 'img': 'http://homeimg2.mspcdn.net/transcend_30.jpg'},
                                                    {'name': 'Nokia Battery Price', 'img': 'http://homeimg2.mspcdn.net/nokia_30.png'},
                                                    {'name': 'Samsung Battery Price', 'img': 'http://homeimg2.mspcdn.net/samsung_30.jpg'},
                                                    {'name': 'Nokia Charger Price', 'img': 'http://homeimg2.mspcdn.net/nokia_30.png'},
                                                    {'name': 'Samsung Charger Price', 'img': 'http://homeimg2.mspcdn.net/samsung_30.jpg'},
                                                    {'name': 'Sony Headphones Price', 'img': 'http://homeimg2.mspcdn.net/sony_30.png'},
                                                    {'name': 'Philips Headphones Price', 'img': 'http://homeimg2.mspcdn.net/philips_30.png'}
                                                ]}


                $scope.categories = {
                        "Brands": {
                                    "Huawei Phones": "http://c0028545.cdn1.cloudfiles.rackspacecloud.com/new3595-204-thumb.jpg",
                                    "Tecmor": "http://c0028545.cdn1.cloudfiles.rackspacecloud.com/new3595-204-thumb.jpg",
                                    "Sony Ericsson": "http://c0028545.cdn1.cloudfiles.rackspacecloud.com/new3595-204-thumb.jpg",
                                    "Blu": "http://c0028545.cdn1.cloudfiles.rackspacecloud.com/new3595-204-thumb.jpg",
                                    "HP": "http://c0028545.cdn1.cloudfiles.rackspacecloud.com/new3595-204-thumb.jpg",
                                    "Baofeng": "http://c0028545.cdn1.cloudfiles.rackspacecloud.com/new3595-204-thumb.jpg",
                                    "Infinix": "http://c0028545.cdn1.cloudfiles.rackspacecloud.com/new3595-204-thumb.jpg",
                                    "IT-CEO": "http://c0028545.cdn1.cloudfiles.rackspacecloud.com/new3595-204-thumb.jpg",
                                    "iTel": "http://c0028545.cdn1.cloudfiles.rackspacecloud.com/new3595-204-thumb.jpg",
                                    "Huawei": "http://c0028545.cdn1.cloudfiles.rackspacecloud.com/new3595-204-thumb.jpg",
                                    "Xtouch": "http://c0028545.cdn1.cloudfiles.rackspacecloud.com/new3595-204-thumb.jpg",
                                    "Meizu": "http://c0028545.cdn1.cloudfiles.rackspacecloud.com/new3595-204-thumb.jpg",
                                    "Emporia": "http://c0028545.cdn1.cloudfiles.rackspacecloud.com/new3595-204-thumb.jpg",
                                    "Android": "http://c0028545.cdn1.cloudfiles.rackspacecloud.com/new3595-204-thumb.jpg",
                                    "Prestigio": "http://c0028545.cdn1.cloudfiles.rackspacecloud.com/new3595-204-thumb.jpg",
                                    "iMose": "http://c0028545.cdn1.cloudfiles.rackspacecloud.com/new3595-204-thumb.jpg",
                                    "Bird": "http://c0028545.cdn1.cloudfiles.rackspacecloud.com/new3595-204-thumb.jpg",
                                    "Alcatel": "http://c0028545.cdn1.cloudfiles.rackspacecloud.com/new3595-204-thumb.jpg",
                                    "Be": "http://c0028545.cdn1.cloudfiles.rackspacecloud.com/new3595-204-thumb.jpg",
                                    "Innjoo": "http://c0028545.cdn1.cloudfiles.rackspacecloud.com/new3595-204-thumb.jpg",
                                    "Bontel": "http://c0028545.cdn1.cloudfiles.rackspacecloud.com/new3595-204-thumb.jpg",
                                    "Feiyu": "http://c0028545.cdn1.cloudfiles.rackspacecloud.com/new3595-204-thumb.jpg",
                                    "Nokia": "http://c0028545.cdn1.cloudfiles.rackspacecloud.com/new3595-204-thumb.jpg",
                                    "iphones": "http://c0028545.cdn1.cloudfiles.rackspacecloud.com/new3595-204-thumb.jpg",
                                    "Admet": "http://c0028545.cdn1.cloudfiles.rackspacecloud.com/new3595-204-thumb.jpg",
                                    "Sony": "http://c0028545.cdn1.cloudfiles.rackspacecloud.com/new3595-204-thumb.jpg",
                                    "Opsson": "http://c0028545.cdn1.cloudfiles.rackspacecloud.com/new3595-204-thumb.jpg",
                                    "Bvlgari": "http://c0028545.cdn1.cloudfiles.rackspacecloud.com/new3595-204-thumb.jpg",
                                    "Advance": "http://c0028545.cdn1.cloudfiles.rackspacecloud.com/new3595-204-thumb.jpg",
                                    "Motorola": "http://c0028545.cdn1.cloudfiles.rackspacecloud.com/new3595-204-thumb.jpg",
                                    "Ojiji": "http://c0028545.cdn1.cloudfiles.rackspacecloud.com/new3595-204-thumb.jpg",
                                    "Samsung": "http://c0028545.cdn1.cloudfiles.rackspacecloud.com/new3595-204-thumb.jpg",
                                    "Malata": "http://c0028545.cdn1.cloudfiles.rackspacecloud.com/new3595-204-thumb.jpg",
                                    "Alcatel Onetouch": "http://c0028545.cdn1.cloudfiles.rackspacecloud.com/new3595-204-thumb.jpg",
                                    "MTN": "http://c0028545.cdn1.cloudfiles.rackspacecloud.com/new3595-204-thumb.jpg",
                                    "Blackberry": "http://c0028545.cdn1.cloudfiles.rackspacecloud.com/new3595-204-thumb.jpg",
                                    "Lenovo": "http://c0028545.cdn1.cloudfiles.rackspacecloud.com/new3595-204-thumb.jpg",
                                    "M-Horse": "http://c0028545.cdn1.cloudfiles.rackspacecloud.com/new3595-204-thumb.jpg",
                                    "iGo": "http://c0028545.cdn1.cloudfiles.rackspacecloud.com/new3595-204-thumb.jpg",
                                    "Solo": "http://c0028545.cdn1.cloudfiles.rackspacecloud.com/new3595-204-thumb.jpg",
                                    "Kexinda": "http://c0028545.cdn1.cloudfiles.rackspacecloud.com/new3595-204-thumb.jpg",
                                    "No Name": "http://c0028545.cdn1.cloudfiles.rackspacecloud.com/new3595-204-thumb.jpg",
                                    "XgP": "http://c0028545.cdn1.cloudfiles.rackspacecloud.com/new3595-204-thumb.jpg",
                                    "Archos": "http://c0028545.cdn1.cloudfiles.rackspacecloud.com/new3595-204-thumb.jpg",
                                    "HTC": "http://c0028545.cdn1.cloudfiles.rackspacecloud.com/new3595-204-thumb.jpg",
                                    "Apple": "http://c0028545.cdn1.cloudfiles.rackspacecloud.com/new3595-204-thumb.jpg",
                                    "Wiko": "http://c0028545.cdn1.cloudfiles.rackspacecloud.com/new3595-204-thumb.jpg",
                                    "Bluegate": "http://c0028545.cdn1.cloudfiles.rackspacecloud.com/new3595-204-thumb.jpg",
                                    "Tecno": "http://c0028545.cdn1.cloudfiles.rackspacecloud.com/new3595-204-thumb.jpg",
                                    "RLG": "http://c0028545.cdn1.cloudfiles.rackspacecloud.com/new3595-204-thumb.jpg",
                                    "Gionee": "http://c0028545.cdn1.cloudfiles.rackspacecloud.com/new3595-204-thumb.jpg",
                                    "Power Bank": "http://c0028545.cdn1.cloudfiles.rackspacecloud.com/new3595-204-thumb.jpg",
                                    "Tecmar": "http://c0028545.cdn1.cloudfiles.rackspacecloud.com/new3595-204-thumb.jpg",
                                    "LG": "http://c0028545.cdn1.cloudfiles.rackspacecloud.com/new3595-204-thumb.jpg",
                                    "Other": "http://c0028545.cdn1.cloudfiles.rackspacecloud.com/new3595-204-thumb.jpg",
                                    "BlackBerry": "http://c0028545.cdn1.cloudfiles.rackspacecloud.com/new3595-204-thumb.jpg",
                                    "ASUS": "http://c0028545.cdn1.cloudfiles.rackspacecloud.com/new3595-204-thumb.jpg",
                                    "G-Tide": "http://c0028545.cdn1.cloudfiles.rackspacecloud.com/new3595-204-thumb.jpg",
                                    "ZGPAX": "http://c0028545.cdn1.cloudfiles.rackspacecloud.com/new3595-204-thumb.jpg",
                                    "Panasonic": "http://c0028545.cdn1.cloudfiles.rackspacecloud.com/new3595-204-thumb.jpg"
                                }
                }
            })

        </script>

<div class="section-container" ng-controller="section-mobile">

<div class="section-left col-md-3">
    <div class="popular-price-list-panel">
        <div class="list-group" ng-repeat="(groupName,listGroup) in popular_price_list_groups">
            <a href="#" class="list-group-item disabled">{[{ groupName }]}</a>
            <a href="#" class="list-group-item" ng-repeat="pplist in listGroup">
                <img src="{[{pplist.img}]}" alt="{[{pplist.name}]}">
                {[{ pplist.name }]}
            </a>
        </div>
    </div>
</div>

<div class="section-right col-md-9">
    <div class="section-items-panel">
        <div class="category" ng-repeat="(catName,cat) in categories"> <!-- msp_index div open -->
				<div class="category-heading">
					<h3>{[{catName}]}</h3>
				</div>
				<div class="items">
					<div class="item" ng-repeat="(prodType,ptUrl) in cat">
						<a href="/mobiles/{[{catName.split(' ').join('-')}]}/{[{prodType.split(' ').join('-')}]}" >
                            <img src="{[{ptUrl}]}" alt="{[{prodType}]} Price "></a><br>
						<a href="/mobiles/{[{catName.split(' ').join('-')}]}/{[{prodType.split(' ').join('-')}]}" >
							<p>{[{prodType}]}</p></a>
					</div>
				</div>
	    </div>
    </div> <!--section-items-panel-->

</div>><!--section-right-->

</div><!--section-container-->

{% endblock content %}
